<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../static/css/success.css">

      <title>Success Stories</title>
   </head>
   <body>
      <section class="container">
         <div class="card__container swiper">
            <div class="card__content">
               <div class="swiper-wrapper">
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="../static/images/success/img1.jpeg" alt="image" class="card__img">
                        <div class="card__shadow"></div>
                     </div>
      
                     <div class="card__data">
                        <h3 class="card__name">Meera ❤ Ratan</h3>
                        <p class="card__description">
                           “We were both career-driven and had no time to search traditionally. Thanks to your platform, 
                           we met, connected over books, and now we’re happily married — building dreams together.”
                        </p>
   
                     </div>
                  </article>
      
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="../static/images/success/img2.jpeg" alt="image" class="card__img">
                        <div class="card__shadow"></div>
                     </div>
      
                     <div class="card__data">
                        <h3 class="card__name">Simran ❤ Harpreet </h3>
                        <p class="card__description">
                        “Our journey began with one message, and turned into endless conversations. 
                         From gurdwara visits to coffee dates — everything felt natural. 
                         A big thank you for giving us this beautiful start.”  
                        </p>
      
                     </div>
                  </article>
      
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="../static/images/success/img3.jpeg" alt="image" class="card__img">
                        <div class="card__shadow"></div>
                     </div>
      
                     <div class="card__data">
                        <h3 class="card__name">Grace ❤ Ethan</h3>
                        <p class="card__description">
                         “We both believed in love and faith — and your website brought us together from two corners of the country. 
                         Now we're married and building a beautiful life together with God's blessings.” 
                         ThankYou Saathi.com!! 
                        </p>

                     </div>
                  </article>

                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="../static/images/success/img5.jpeg" alt="image" class="card__img">
                        <div class="card__shadow"></div>
                     </div>
      
                     <div class="card__data">
                        <h3 class="card__name">Nazia ❤ Sameer</h3>
                        <p class="card__description">
                         “We were both hesitant at first, but this site gave us the perfect chance to connect. 
                         With shared values and dreams, we began a new chapter. Nikah happened in just 4 months. 
                         — Alhamdulillah!” 
                         ThankYou Saathi.com!!  
                        </p>
      
                     </div>
                  </article>

                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="../static/images/success/img6.jpeg" alt="image" class="card__img">
                        <div class="card__shadow"></div>
                     </div>
      
                     <div class="card__data">
                        <h3 class="card__name">Harleen ❤ Amrit</h3>
                        <p class="card__description">
                           “We met through this platform, and in just a few conversations, 
                           We felt the spark. Our families clicked instantly, and today we are happily married.
                           Thank you for helping us find love!”
                            ThankYou Saathi.com!!
                        </p>
      
                     </div>
                  </article>
               </div>
            </div>

            <!-- Navigation buttons -->
            <div class="swiper-button-next">
               <i class="ri-arrow-right-s-line"></i>
            </div>
            
            <div class="swiper-button-prev">
               <i class="ri-arrow-left-s-line"></i>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>
         </div>
      </section>
      
      <!--=============== SWIPER JS ===============-->
      <script src="../static/js/swiper-bundle.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="../static/js/success.js"></script>
   </body>
</html>